In [6]:
# To import packages and libraries
import pandas as pd
import json
import os
import mysql.connector as sql
import streamlit as st

In [7]:
# To get statewise list from aggregated_transaction 

path=r"C:\Users\Bhuvana Vignesh\OneDrive\Desktop\GUVI_Projects\PhonePe_Pulse\pulse-master\pulse-master\data\aggregated\transaction\country\india\state"
agg_trans_state_list=os.listdir(path)

data={'State':[], 'Year':[],'Quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in agg_trans_state_list:
    p_i=path+"/"+i
    agg_year=os.listdir(p_i)

    for j in agg_year:
        p_j=p_i+"/"+j
        agg_year_list=os.listdir(p_j)

        for k in agg_year_list:
            p_k=p_j+"/"+k
            Data=open(p_k,'r')
            D=json.load(Data)

            for z in D['data']['transactionData']:
                Name=z['name']
                count=z['paymentInstruments'][0]['count']
                amount=z['paymentInstruments'][0]['amount']
                data['State'].append(i)
                data['Year'].append(j)
                data['Quarter'].append('Q'+str(k[0]))
                data['Transaction_type'].append(Name)
                data['Transaction_count'].append(count)
                data['Transaction_amount'].append(amount)
                

df_agg_trans_state_list=pd.DataFrame(data)
df_agg_trans_state_list.to_csv('aggregated_transaction.csv',index=False)
# df_agg_trans_state_list.isnull().sum()

In [8]:
# To get statewise User details from aggregated_users
import os
path=r"C:\Users\Bhuvana Vignesh\OneDrive\Desktop\GUVI_Projects\PhonePe_Pulse\pulse-master\pulse-master\data\aggregated\user\country\india\state"
agg_user_state_list=os.listdir(path)

data={'State':[],'Year':[], 'Quarter':[],'Brands':[],'Count':[],'Percentage':[]}

for i in agg_user_state_list:
    p_i=path+"/"+i
    agg_year=os.listdir(p_i)

    for j in agg_year:
        p_j=p_i+"/"+j
        agg_year_list=os.listdir(p_j)

        for k in agg_year_list:
            p_k=p_j+"/"+k
            Data=open(p_k,'r')
            D=json.load(Data)

            if D['data']['usersByDevice'] is not None:
                for z in D['data']['usersByDevice']:
                    Brand1=z['brand']
                    Count1=z['count']
                    Percentage1=z['percentage']
                    data['Brands'].append(Brand1)
                    data['Count'].append(Count1)
                    data['Percentage'].append(Percentage1)
                    data['State'].append(i)
                    data['Year'].append(j)
                    data['Quarter'].append('Q'+str(k[0]))
df_agg_user_state_list=pd.DataFrame(data)
df_agg_user_state_list.to_csv('aggregated_user.csv',index=False)
# df_agg_user_state_list.isnull().sum()

In [9]:
# To get statewise transaction from Map
import os
path = r"C:\Users\Bhuvana Vignesh\OneDrive\Desktop\GUVI_Projects\PhonePe_Pulse\pulse-master\pulse-master\data\map\transaction\hover\country\india\state"
map_state_list = os.listdir(path)

data = {'State': [], 'Year': [], 'Quarter': [], 'District': [],'Transaction_count': [], 'Transaction_amount': []}

for i in map_state_list:
    path_i = path + "/"+i
    map_year_list = os.listdir(path_i)

    for j in map_year_list:
        path_j = path_i +"/"+ j
        map_year_json = os.listdir(path_j)

        for k in map_year_json:
            path_k = path_j +"/"+ k
            Data = open(path_k, 'r')
            D = json.load(Data)

            for z in D['data']['hoverDataList']:
                district = z['name'].split('district')[0]
                count = z['metric'][0]['count']
                amount = z['metric'][0]['amount']

                data['State'].append(i)
                data['Year'].append(j)
                data['Quarter'].append('Q'+str(k[0]))
                data['District'].append(district)
                data['Transaction_count'].append(count)
                data['Transaction_amount'].append(amount)
df_map_state_list=pd.DataFrame(data)
df_map_state_list.to_csv('map_transaction.csv', index=False)
# df_map_state_list.isnull().sum()

In [10]:
# To get statewise User details from Map

path=r"C:\Users\Bhuvana Vignesh\OneDrive\Desktop\GUVI_Projects\PhonePe_Pulse\pulse-master\pulse-master\data\map\user\hover\country\india\state"
map_user_state_list=os.listdir(path)

data = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Registered_user': [], 'App_opens': []}

for i in map_user_state_list:
    path_i = path +"/"+ i
    map_user_year = os.listdir(path_i)

    for j in map_user_year:
        path_j = path_i +"/"+ j
        map_user_year_list = os.listdir(path_j)

        for k in map_user_year_list:
            path_k = path_j +"/"+ k
            Data= open(path_k, 'r')
            D= json.load(Data)

            for z_key, z_value in D['data']['hoverData'].items():
                district = z_key.split(' district')[0]
                reg_user = z_value['registeredUsers']
                app_opens = z_value['appOpens']

                data['State'].append(i)
                data['Year'].append(j)
                data['Quarter'].append('Q'+str(k[0]))
                data['District'].append(district)
                data['Registered_user'].append(reg_user)
                data['App_opens'].append(app_opens)
df_map_user_state_list=pd.DataFrame(data)
df_map_user_state_list.to_csv('map_user.csv', index=False)
# df_map_user_state_list.isnull().sum()

In [11]:
#To get districtwise transaction from Top

path=r"C:\Users\Bhuvana Vignesh\OneDrive\Desktop\GUVI_Projects\PhonePe_Pulse\pulse-master\pulse-master\data\top\transaction\country\india\state"
top_trans_state_list=os.listdir(path)

data = {'State': [], 'Year': [], 'Quarter': [], 'District_Pincode': [], 'Transaction_count': [], 'Transaction_amount': []}

for i in top_trans_state_list:
            path_i = path +"/"+ i
            top_year_list = os.listdir(path_i)

            for j in top_year_list:
                path_j = path_i + "/"+j
                top_year_json = os.listdir(path_j)

                for k in top_year_json:
                    path_k = path_j +"/"+ k
                    f = open(path_k, 'r')
                    d = json.load(f)

                    for z in d['data']['districts']:
                        district_code = z['entityName']
                        count = z['metric']['count']
                        amount = z['metric']['amount']

                        data['State'].append(i)
                        data['Year'].append(j)
                        data['Quarter'].append('Q'+str(k[0]))
                        data['District_Pincode'].append(district_code)
                        data['Transaction_count'].append(count)
                        data['Transaction_amount'].append(amount)
df_top_trans_state_list=pd.DataFrame(data)
df_top_trans_state_list.to_csv('top_transaction.csv', index=False)
# df_top_trans_state_list.isnull().sum()

In [12]:
# To get postalcodewise Top lists

path=r"C:\Users\Bhuvana Vignesh\OneDrive\Desktop\GUVI_Projects\PhonePe_Pulse\pulse-master\pulse-master\data\top\user\country\india\state"
top_trans_state_postal=os.listdir(path)

data = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Registered_Users':[]}

for i in top_trans_state_postal:
    path_i = path + '/'+i
    top_year_list = os.listdir(path_i)

    for j in top_year_list:
        path_j = path_i + '/'+j
        top_year_list = os.listdir(path_j)

        for k in top_year_list:
            path_k = path_j + '/'+k
            Data = open(path_k, 'r')
            D = json.load(Data)

            for z in D['data']['pincodes']:
                pincode = z['name']
                registeredUser=z['registeredUsers']

                data['State'].append(i)
                data['Year'].append(j)
                data['Quarter'].append('Q'+str(k[0]))
                data['Pincode'].append(pincode)
                data['Registered_Users'].append(registeredUser)
df_top_trans_state_postal=pd.DataFrame(data)
df_top_trans_state_postal.to_csv('top_postalcode.csv', index=False)
df_top_trans_state_postal.isnull().sum()

# missing_pincode_rows = df_top_trans_state_postal[df_top_trans_state_postal['Pincode'].isnull()]

# Display the rows with missing 'pincode'
# print(missing_pincode_rows)

# mean_pincode = df_top_trans_state_postal['Pincode'].mean()
# mean_pincode
# df_top_trans_state_postal['Pincode'].fillna(mean_pincode, inplace=True)

State               0
Year                0
Quarter             0
Pincode             0
Registered_Users    0
dtype: int64

In [23]:
####SQL connect

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="phonepe"
)

mycursor = mydb.cursor()

mycursor.execute("create database if not exists phonepe")
mydb.commit()

In [14]:
# import mysql.connector

# mydb = mysql.connector.connect(
#   host="localhost",
#   user="root",
#   password="test123",
#   database="mydatabase"
# )

# mycursor = mydb.cursor()

# mycursor.execute("create database if not exists PhonePe")
# mydb.commit()
# create_tables_sql="""
# create table if not exists aggregated_transaction(
#       state varchar(255), 
#       year int, 
#       quarter varchar(2), 
#       transaction_type varchar(255), 
#       transaction_count int,
#       transaction_amount float
#       );
# create table if not exists aggregated_user (
#       State varchar(255), 
#       year int, 
#       quarter varchar(2), 
#       brands varchar(255), 
#       count int, 
#       percentage float
#       );
# create table if not exists map_transaction(
#       State varchar(255),  
#       year int, 
#       quarter varchar(2),
#       district varchar(255),
#       transaction_count int,
#       transaction_amount float
#       );
# create table if not exists map_user(
#       State varchar(255),
#       year int,
#       quarter varchar(2),
#       district varchar(255),
#       registered_user int,
#       );
# create table if not exists top_transaction(
#       State varchar(255),
#       year int,
#       quarter varchar(2),
#       pincode int,
#       transaction_count int,
#       transaction_amount float
#       );
# create table if not exists top_user(
#       State varchar(255),
#       year int,
#       quarter varchar(2),
#       pincode int(6),
#       registered_user int
#       );
 
#     """
# mycursor.execute(create_tables_sql)
# mycursor.execute("select * from top_user" )
# # Close the cursor and connection
# # mycursor.close()
# # mydb.close()

In [15]:
# mycursor.execute("create database if not exists PhonePe")

# user_years = ['2018', '2019', '2020', '2021','2022','2023']
# user_quarters = ['Q1', 'Q2', 'Q3', 'Q4']

# # mycursor.execute("select distinct state, Transaction_amount,Year,Quarter FROM top_transaction where Year IN ({}) AND Quarter IN ({}) ORDER BY transaction_amount DESC LIMIT 10;",user_years + user_quarters)
# # mycursor.execute(query, user_years + user_quarters)
# a="select distinct state, Transaction_amount,Year,Quarter FROM top_transaction where Year IN ({}) AND Quarter IN ({}) ORDER BY transaction_amount DESC LIMIT 10;"
# a1= user_years + user_quarters
# mycursor.execute(a,a1)
# Top10 = mycursor.fetchall()
# # pd.DataFrame(Top10,columns=["State","Trans_amount", "Year", "Quarter"])
# print(Top10)
# # b= mycursor.execute("select distinct State,Transaction_amount,Year,Quarter FROM top_transaction GROUP BY State ORDER BY transaction_amount ASC LIMIT 10;")
# # Least10=mycursor.fetchall()
# # pd.DataFrame(Top10,columns=["State","Trans_amount", "Year", "Quarter"])
# # pd.DataFrame(Least10)

In [28]:
types= ["Peer-to-peer payments","Merchant payments", "Financial Services","Recharge & bill payments", "Others"]
year= [2018, 2019, 2020, 2021, 2022,2023]
quarter=['Q1','Q2','Q3','Q4']
state= ['andaman-&-nicobar-islands', 'andhra-pradesh', 'arunachal-pradesh', 'assam', 'bihar', 'chandigarh', 'chhattisgarh', 'dadra-&-nagar-haveli-&-daman-&-diu',
        'delhi', 'goa', 'gujarat', 'haryana', 'himachal-pradesh', 'jammu-&-kashmir', 'jharkhand', 'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya-pradesh', 
        'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland','odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim',
        'tamil-nadu', 'telangana', 'tripura', 'uttar-pradesh', 'uttarakhand', 'west-bengal']
dist=  ['kurnool', 'guntur', 'krishna', 'spsr nellore', 'vizianagaram', 'ysr', 'west godavari', 'chittoor', 'lower subansiri', 'tirap', 'papum pare', 'anjaw', 'lower siang', 
        'dibang valley', 'west kameng', 'shi yomi', 'east kameng', 'lohit', 'lepa rada', 'lower dibang valley', 'longding', 'west siang', 'kamle', 'upper siang', 'kurung kumey',
        'siang', 'kra daadi', 'changlang', 'pakke kessang', 'east siang', 'upper subansiri', 'tawang', 'namsai', 'tinsukia', 'lakhimpur', 'kamrup', 'kokrajhar', 'karbi anglong',
        'sivasagar', 'dibrugarh', 'south salmara mancachar', 'nagaon', 'dhubri', 'golaghat', 'udalguri', 'majuli', 'sonitpur', 'hojai', 'marigaon', 'chirang', 'cachar', 
        'nalbari', 'west karbi anglong', 'dhemaji','karimganj', 'bongaigaon', 'dima hasao', 'baksa', 'charaideo', 'darrang', 'kamrup metropolitan', 'hailakandi', 'barpeta', 'goalpara',
        'biswanath', 'jorhat', 'madhepura', 'purnia', 'nalanda', 'buxar', 'darbhanga', 'nawada', 'jamui', 'sheikhpura', 'siwan', 'muzaffarpur', 'patna', 'jehanabad', 
        'rohtas', 'begusarai', 'supaul', 'sitamarhi', 'saran', 'arwal', 'vaishali', 'pashchim champaran', 'gopalganj', 'lakhisarai', 'aurangabad', 'kaimur bhabua', 'araria', 
        'munger', 'katihar', 'khagaria', 'saharsa', 'bhagalpur', 'madhubani', 'kishanganj', 'gaya', 'samastipur', 'banka', 'purbi champaran', 'sheohar', 'bhojpur',
        'chandigarh', 'dhamtari', 'korba', 'surajpur', 'baloda bazar', 'sukma', 'raigarh', 'janjgir champa', 'jashpur', 'balod', 'kabirdham', 'surguja', 'dantewada', 
        'gariyaband', 'durg', 'rajnandgaon', 'raipur', 'narayanpur', 'kanker', 'korea', 'mungeli', 'bilaspur', 'balrampur', 'bijapur', 'bemetara', 'bastar', 'kondagaon',
        'mahasamund', 'diu', 'daman', 'dadra and nagar haveli', 'south', 'central', 'new delhi', 'west', 'south west', 'south east delhi', 'shahdara', 'north east', 
        'east', 'north west', 'north', 'north goa', 'south goa', 'anand', 'jamnagar', 'devbhumi dwarka', 'rajkot', 'aravallis', 'chhotaudepur', 'botad', 'bharuch',
        'bhavnagar', 'junagadh', 'mahesana', 'the dangs', 'kheda', 'surat', 'porbandar', 'gandhinagar', 'panch mahals', 'narmada', 'gir somnath', 'valsad', 
        'mahisagar', 'sabar kantha', 'tapi', 'vadodara', 'banas kantha', 'amreli', 'ahmadabad', 'dohad', 'navsari', 'patan', 'kachchh', 'surendranagar', 'morbi', 
        'yamunanagar', 'sonipat', 'jind', 'rohtak', 'faridabad', 'mahendragarh', 'hisar', 'karnal', 'fatehabad', 'palwal', 'charkhi dadri', 'ambala', 'rewari', 
        'panchkula', 'bhiwani', 'sirsa', 'mewat', 'panipat', 'gurugram', 'kaithal', 'kurukshetra', 'jhajjar', 'solan', 'sirmaur', 'shimla', 'hamirpur', 'una', 'kangra', 
        'kullu', 'mandi', 'lahul and spiti', 'chamba', 'kinnaur', 'muzaffarabad', 'doda', 'samba', 'mirpur', 'srinagar', 'baramulla', 'jammu', 'ganderbal', 'udhampur', 
        'bandipore', 'reasi', 'shopian', 'poonch', 'kathua', 'kishtwar', 'pulwama', 'ramban', 'rajouri', 'kulgam', 'budgam', 'anantnag', 'kupwara', 'ramgarh', 'ranchi', 
        'east singhbhum', 'jamtara', 'dumka', 'koderma', 'hazaribagh', 'simdega', 'garhwa', 'saraikela kharsawan', 'gumla', 'chatra', 'khunti', 'dhanbad', 'godda', 'deoghar', 
        'palamu', 'latehar', 'west singhbhum', 'pakur', 'lohardaga', 'sahebganj', 'giridih', 'bokaro', 'mysuru', 'chitradurga', 'kalaburagi', 'ramanagara', 'mandya', 'kodagu',
        'chikkamagaluru', 'haveri', 'ballari', 'belagavi', 'kolar', 'uttara kannada', 'tumakuru', 'yadgir', 'bengaluru urban', 'chikkaballapura', 'davanagere', 'bagalkote', 
        'vijayapura', 'koppal', 'bidar', 'bengaluru rural', 'raichur', 'chamarajanagara', 'dakshina kannada', 'hassan', 'dharwad', 'shivamogga', 'udupi', 'gadag', 
        'thiruvananthapuram','kasaragod', 'malappuram', 'pathanamthitta', 'wayanad', 'alappuzha', 'kozhikode', 'kollam', 'thrissur', 'palakkad', 'kannur', 'kottayam', 
        'ernakulam', 'idukki', 'kargil', 'leh ladakh', 'lakshadweep', 'morena', 'alirajpur', 'sehore', 'rajgarh', 'khargone', 'satna', 'narsinghpur', 'jabalpur', 
        'hoshangabad', 'vidisha', 'balaghat', 'singrauli', 'betul', 'sidhi', 'datia', 'dewas', 'sheopur', 'neemuch', 'raisen', 'mandsaur', 'barwani', 'katni', 'dindori', 
        'shivpuri', 'gwalior', 'anuppur', 'agar malwa', 'ashoknagar', 'sagar', 'niwari', 'rewa', 'shajapur', 'ujjain', 'bhind', 'tikamgarh', 'seoni', 'harda', 'burhanpur', 
        'damoh', 'bhopal', 'jhabua', 'dhar', 'guna', 'east nimar', 'chhindwara', 'umaria', 'mandla', 'indore', 'shahdol', 'ratlam', 'panna', 'chhatarpur', 'jalgaon', 'latur',
        'thane', 'bhandara', 'nandurbar', 'chandrapur', 'kolhapur', 'solapur', 'mumbai', 'sindhudurg', 'dhule', 'wardha', 'parbhani', 'mumbai suburban', 'hingoli', 
        'ratnagiri', 'nanded', 'osmanabad', 'nagpur', 'buldhana', 'nashik', 'akola', 'yavatmal', 'amravati', 'washim', 'sangli', 'gadchiroli', 'raigad', 'palghar', 
        'jalna', 'gondia', 'ahmednagar','pune', 'beed', 'satara', 'kangpokpi', 'noney', 'imphal east', 'thoubal', 'kakching', 'jiribam', 'ukhrul', 'tamenglong', 'kamjong', 
        'chandel', 'bishnupur', 'senapati', 'pherzawl', 'churachandpur', 'tengnoupal', 'imphal west', 'north garo hills', 'south west khasi hills', 'west garo hills', 
        'south garo hills', 'east jaintia hills', 'south west garo hills', 'east khasi hills', 'east garo hills', 'ribhoi', 'west jaintia hills', 'west khasi hills', 
        'serchhip', 'aizawl', 'lunglei', 'mamit', 'lawngtlai', 'kolasib', 'champhai', 'saiha', 'mon', 'phek', 'longleng', 'mokokchung', 'kiphire', 'kohima', 'tuensang',
        'peren', 'dimapur', 'zunheboto', 'wokha', 'rayagada', 'koraput', 'malkangiri', 'sambalpur', 'kalahandi', 'anugul', 'ganjam', 'jajapur', 'bargarh', 'dhenkanal', 
        'bhadrak', 'nuapada', 'kendujhar', 'mayurbhanj', 'jharsuguda', 'kandhamal', 'deogarh', 'sundargarh', 'jagatsinghapur', 'balangir', 'baleshwar', 'puri', 'sonepur',
        'khordha', 'boudh', 'gajapati', 'nayagarh', 'nabarangpur', 'kendrapara', 'cuttack', 'karaikal', 'puducherry', 'yanam', 'mahe', 'shahid bhagat singh nagar', 
        'fazilka', 'barnala', 'mansa', 'ludhiana', 'sri muktsar sahib', 'patiala', 'pathankot', 'fatehgarh sahib', 'rupnagar', 'tarn taran', 'sas nagar', 'sangrur', 
        'jalandhar', 'bathinda', 'kapurthala', 'firozepur', 'gurdaspur', 'amritsar', 'faridkot', 'hoshiarpur', 'moga', 'pali', 'ganganagar', 'churu', 'jaipur', 'baran',
        'bhilwara', 'banswara', 'dungarpur', 'tonk', 'jodhpur', 'karauli', 'udaipur', 'dausa', 'nagaur', 'bharatpur', 'barmer', 'ajmer', 'chittorgarh', 'hanumangarh', 
        'pratapgarh', 'sawai madhopur', 'jalore', 'bikaner', 'sikar', 'dholpur', 'sirohi', 'rajsamand', 'jaisalmer', 'bundi', 'jhalawar', 'alwar', 'kota', 'jhunjhunu', 
        'tiruchirappalli', 'ramanathapuram', 'krishnagiri', 'cuddalore', 'kancheepuram', 'tiruppur', 'dharmapuri', 'thoothukkudi', 'thanjavur', 'madurai',
        'tiruvannamalai', 'salem', 'nagapattinam', 'tirupathur', 'ariyalur', 'chennai', 'the nilgiris', 'erode', 'karur', 'kallakkurichi', 'viluppuram', 
        'pudukkottai', 'perambalur', 'coimbatore', 'virudhunagar', 'dindigul', 'sivaganga', 'tenkasi', 'chengalpattu', 'kanniyakumari', 'tirunelveli', 'thiruvallur',
        'theni', 'ranipet', 'namakkal', 'vellore', 'thiruvarur']

brand_type= ['Apple', 'Asus', 'COOLPAD', 'Gionee', 'HMD Global', 'Huawei', 'Infinix', 'Lava', 'Lenovo','Lyf', 'Micromax', 
             'Motorola', 'OnePlus', 'Oppo', 'Others', 'Realme', 'Samsung', 'Tecno', 'Vivo', 'Xiaomi']

query1=f"SELECT DISTINCT State,Quarter,Year,Transaction_type,Transaction_amount FROM aggregated_transaction WHERE Transaction_type IN {tuple(types)} ORDER BY State,Quarter,Year;"
mycursor.execute(query1)
df1 = pd.DataFrame(mycursor.fetchall(), columns=['State','Quarter', 'Year', 'Transaction_type', 'Transaction_amount'])
df1

query2=f"SELECT DISTINCT State,Year,Quarter,Transaction_type,Transaction_amount FROM aggregated_transaction WHERE Year IN {tuple(year)} AND Transaction_type IN {tuple(types)} ORDER BY State,Quarter,Year;"
mycursor.execute(query2)
df2 = pd.DataFrame(mycursor.fetchall(), columns=['State', 'Year',"Quarter", 'Transaction_type', 'Transaction_amount'])
df2

query3=f"SELECT DISTINCT State,Year,Quarter,Transaction_type,Transaction_amount FROM aggregated_transaction WHERE State IN {tuple(state)} AND Transaction_type IN {tuple(types)} And Year IN {tuple(year)} ORDER BY State,Quarter,Year"
mycursor.execute(query3)
df3 = pd.DataFrame(mycursor.fetchall(), columns=['State', 'Year',"Quarter", 'Transaction_type', 'Transaction_amount'])
df3

query4 =f"SELECT DISTINCT State,Year,Quarter,District,Transaction_amount FROM map_transaction WHERE State IN {tuple(state)} ORDER BY State,Year,Quarter,District";
mycursor.execute(query4)
df4 = pd.DataFrame(mycursor.fetchall(), columns=['State', 'Year',"Quarter", 'District', 'amount'])
df4

query5=f"SELECT DISTINCT State,Year,Quarter,District,Transaction_amount FROM map_transaction WHERE Year IN {tuple(year)} AND State IN {tuple(state)} ORDER BY State,Year,Quarter,District"
mycursor.execute(query5)
df5 = pd.DataFrame(mycursor.fetchall(), columns=['State', 'Year',"Quarter", 'District', 'amount'])
df5

query6=f"SELECT DISTINCT State,Year,Quarter,District,Transaction_amount FROM map_transaction WHERE District IN {tuple(dist)} AND State IN {tuple(state)} AND Year IN {tuple(year)} ORDER BY State,Year,Quarter,District"
mycursor.execute(query6)
df6 = pd.DataFrame(mycursor.fetchall(), columns=['State', 'Year',"Quarter", 'District', 'amount'])
df6

query7=f"SELECT State,Year,Quarter,brands,Percentage FROM aggregated_user WHERE brands IN {tuple(brand_type)} ORDER BY State,Year,Quarter,brands,Percentage DESC;"
mycursor.execute(query7)
df7 = pd.DataFrame(mycursor.fetchall(), columns=['State', 'Year',"Quarter", 'brands', 'Percentage'])
df7

query8=f"SELECT State,Year,Quarter,brands,Percentage FROM aggregated_user WHERE Year IN {tuple(year)} AND brands IN {tuple(brand_type)} ORDER BY State,Year,Quarter,brands,Percentage DESC;"
mycursor.execute(query8)
df8 = pd.DataFrame(mycursor.fetchall(), columns=['State', 'Year',"Quarter", 'brands', 'Percentage'])
df8

query9=f"SELECT State,Year,Quarter,brands,Percentage FROM aggregated_user WHERE State IN {tuple(state)} AND brands IN {tuple(brand_type)} AND Year IN {tuple(year)} ORDER BY State,Year,Quarter,brands,Percentage DESC"
mycursor.execute(query9)
df9 = pd.DataFrame(mycursor.fetchall(), columns=['State', 'Year',"Quarter", 'brands', 'Percentage'])
df9

query10=f"SELECT State,Year,Quarter,District_pincode,Transaction_count,Transaction_amount FROM top_transaction WHERE State IN {tuple(state)} GROUP BY State,Year,Quarter;"
mycursor.execute(query10)
df10 = pd.DataFrame(mycursor.fetchall(), columns=['State', 'Year',"Quarter", 'District', 'Transaction_count', 'Transaction_amount'])
df10

query11=f"SELECT State,Year,Quarter,District_pincode,Transaction_count,Transaction_amount FROM top_transaction WHERE Year IN {tuple(year)} AND State IN {tuple(state)} GROUP BY State,Year,Quarter;"
mycursor.execute(query11)
df11 = pd.DataFrame(mycursor.fetchall(), columns=['State', 'Year',"Quarter", 'District', 'Transaction_count', 'Transaction_amount'])
df11

query12=f"SELECT State,Year,Quarter,District_pincode,Transaction_count,Transaction_amount FROM top_transaction WHERE Year IN {tuple(year)} AND Quarter IN {tuple(quarter)} AND State IN {tuple(state)} GROUP BY State,Year,Quarter;"
mycursor.execute(query12)
df12 = pd.DataFrame(mycursor.fetchall(), columns=['State', 'Year','Quarter', 'District', 'Transaction_count', 'Transaction_amount'])
df12

query13=f"SELECT State,Year,Quarter,District,Registered_User FROM map_user WHERE State IN {tuple(state)} ORDER BY State,Year,Quarter,District;"
mycursor.execute(query13)
df13 = pd.DataFrame(mycursor.fetchall(), columns=['State', 'Year',"Quarter", 'District', 'RegisteredUser'])
df13

query14=f"SELECT State,Year,Quarter,District,Registered_User FROM map_user WHERE Year IN {tuple(year)} AND State IN {tuple(state)} ORDER BY State,Year,Quarter,District;"
mycursor.execute(query14)
df14 = pd.DataFrame(mycursor.fetchall(), columns=['State', 'Year',"Quarter", 'District', 'RegisteredUser'])
df14

query15=f"SELECT State,Year,Quarter,District,Registered_User FROM map_user WHERE Year IN {tuple(year)} AND State IN {tuple(state)} AND District IN {tuple(dist)} ORDER BY State,Year,Quarter,District;"
mycursor.execute(query15)
df15 = pd.DataFrame(mycursor.fetchall(), columns=['State', 'Year',"Quarter", 'District', 'RegisteredUser'])
df15

                State  Year Quarter      District  RegisteredUser
0      andhra-pradesh  2018      Q1      chittoor          309541
1      andhra-pradesh  2018      Q1        guntur          317065
2      andhra-pradesh  2018      Q1       krishna          323673
3      andhra-pradesh  2018      Q1       kurnool          240133
4      andhra-pradesh  2018      Q1  spsr nellore          194475
...               ...   ...     ...           ...             ...
13220   uttar-pradesh  2023      Q2      hamirpur          191717
13221   uttar-pradesh  2023      Q2    pratapgarh          548413
13222   uttar-pradesh  2023      Q3     balrampur          231860
13223   uttar-pradesh  2023      Q3      hamirpur          200383
13224   uttar-pradesh  2023      Q3    pratapgarh          571815

[13225 rows x 5 columns]